body {
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1648305398153-e3f472d43f4c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1175&q=80");
    background-repeat: no-repeat;
    /* 반복 없앰 */
    background-size: cover;
    /* 전체 화면 덮기 */
}

.container {
    background-color: white;
    min-height: 100vh;
    /* 100% view height */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 2em;
}

.task-area {
    border: 1px solid lightgray;
    margin-top: 2em;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;

}

.task-tabs div {
    padding: 1em;
}

#under-line {
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 80px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done {
    text-decoration: line-through;
}

.task-tabs div {
    cursor: pointer;
}


h1, div {
    font-family: 'Jua', sans-serif;
}



#add-button {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

#add-button:hover, #add-button:focus {
    background-color: #b3d3ea;
    color: #2c5777; 
}

#add-button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

#add-button:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}

.button1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button1:hover, .button1:focus {
    background-color: #F082AC;
}

.button2 {
    background-color: #2ea44f;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button1:hover, .button1:focus {
    background-color: #2ea44f;
}


input {
    width: 20em;
}
